@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all .2s linear; }

body {
  background: #1d0e15; }

section {
  padding: 3rem 1rem; }

.link-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background: #ff5421;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: capitalize; }
  .link-btn:hover {
    background: #fff;
    color: orange; }

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem; }
  html::-webkit-scrollbar {
    width: 1rem; }
  html::-webkit-scrollbar-track {
    background: #1d0e15; }
  html::-webkit-scrollbar-thumb {
    background: #ff5421; }
  html .heading {
    text-align: center;
    margin-bottom: 3rem; }
    html .heading span {
      font-size: 2.5rem;
      color: #ff5421; }
    html .heading h3 {
      font-size: 3.5rem;
      text-transform: capitalize;
      color: #fff; }
  html .header {
    z-index: 1000;
    padding: 2rem 1rem; }
    html .header.active {
      background: #fff;
      padding: 2rem 0; }
      html .header.active .logo {
        color: #000; }
      html .header.active .nav a {
        color: #000; }
      html .header.active #menu-btn {
        color: #000; }
    html .header .logo {
      font-size: 2.5rem;
      color: #fff;
      font-weight: bolder; }
      html .header .logo span {
        color: #ff5421; }
    html .header .nav a {
      font-size: 2.5rem;
      margin-left: 2rem;
      color: #fff; }
      html .header .nav a:hover {
        color: #ff5421; }
    html .header #menu-btn {
      display: none;
      font-size: 2.5rem;
      cursor: pointer;
      color: #fff; }
  html .home {
    background: url(../images/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center; }
    html .home span {
      font-size: 2.5rem;
      color: #ff5421; }
    html .home h3 {
      font-size: 5rem;
      text-transform: capitalize;
      color: #fff;
      padding-top: 1rem; }
  html .about span {
    font-size: 2.5rem;
    color: #ff5421; }
  html .about h3 {
    font-size: 2.7rem;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem 0; }
  html .about p {
    font-size: 1.5rem;
    line-height: 2;
    color: #ccc; }
  html .about ul {
    list-style: none; }
    html .about ul li {
      padding-top: 1.5rem;
      font-size: 1.7rem;
      line-height: 2;
      color: #ccc; }
      html .about ul li i {
        padding-right: 1rem;
        color: #ff5421; }
  html .counter {
    background: url("../images/counter-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
    html .counter .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 2rem;
      padding-top: 2rem; }
      html .counter .box-container .box {
        text-align: center; }
        html .counter .box-container .box h3 {
          font-size: 5rem;
          color: #ff5421; }
        html .counter .box-container .box p {
          font-size: 2rem;
          text-transform: capitalize;
          color: #fff; }
  html .course .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem; }
    html .course .box-container .box {
      border: 0.1rem solid rgba(255, 255, 255, 0.2); }
      html .course .box-container .box .images {
        height: 25rem;
        overflow: hidden; }
        html .course .box-container .box .images img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      html .course .box-container .box .content {
        padding: 2rem; }
        html .course .box-container .box .content .icons {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          html .course .box-container .box .content .icons span {
            font-size: 1.7rem;
            text-transform: capitalize;
            color: #fff; }
            html .course .box-container .box .content .icons span i {
              color: #ff5421;
              padding-right: 0.5rem; }
        html .course .box-container .box .content h3 {
          font-size: 2.7rem;
          text-transform: capitalize;
          color: #fff; }
  @media (max-width: 991px) {
    html .header {
      font-size: 55%; }
    html .home h3 {
      font-size: 3rem; } }
  @media (max-width: 768px) {
    html .header {
      padding: 2rem; }
      html .header.active {
        padding: 2rem; }
      html .header #menu-btn {
        display: inline-block; }
        html .header #menu-btn.fa-times {
          transform: rotate(180deg); }
      html .header .nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        padding: 1rem 0;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
        html .header .nav.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
        html .header .nav a {
          color: #000;
          margin: 1rem 2rem; } }
  @media (max-width: 450px) {
    html html {
      font-size: 50%; } }

/*# sourceMappingURL=style.css.map */
