body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

body .buttons button{
    border-radius: .2rem;
    font-size: 1.4rem;
    padding: 0rem .5rem;
    border: none;
    outline: none;
    background-color: blue;
    margin-left: 1rem;
    color: white;
}




