.productCard:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0, 0.22);
}

@media  screen and (min-width: 1200px) {

    .productCol{
        width: 20% !important;
    }

}


.priceMonth{
    background-color: red;
    color: white;
    padding: 1px 8px;
    border-radius: 20px;
    display: inline-block;
}

.title{
    font-size: 18px;
}

.productCard .btn{
    display: block;
    border-radius: 30px;
    border: 1px solid black;
}



.productCard .btn:hover{
    border: 1px solid black;
}

.productCard a{
    color: black;
    text-decoration: none;
}

.productCard a:hover{
    color: blue;
}



